
  *{
    margin: 0%;
    padding: 0%;
  }
  body{
    background-image: url(./images/img6.jpeg);
  }
   .heading_h1{ 
    background-color: rgba(227, 219, 203, 0.641);
    
    padding: 10px;
    text-align: center;
    border: black 1px solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }


   .cards{
      
     display: flex;
     flex-direction: row;
     justify-content: center;
     gap: 50px;
     align-items: center;
   }
   

    
   
     
   .card_1{
      
     border: white solid 1px;
     padding: 10px;
     width:  180px;
     height: 270px;
     border-radius: 10px;
     color:  white
     
    

     
   }

   .card_1_h1_1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }
   .card_1_h1_2{
    text-align: center;
   }
   .card_1_p{
    border: white solid 1px;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    

   }
   
    